.section1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.div-section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-class, .div-card {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #00000065;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: 50px 0;
  padding: 20px;
  width: 350px;
}

.div-card {
  background-color: rgb(247, 233, 210);
  border: 5px solid rgb(255, 218, 153);
}

.div-card h1 {
  margin: 0 auto 12px;
}

.div-card img {
  border-radius: 10px;
  margin: 0 12px;
}

.div-card p {
  margin: 12px;
}

.div-card span {
  margin: 12px 12px 0;
}

.form-class label {
  display: flex;
  flex-direction: column;
  margin: 6px 20px;
}

.saved-cards {
  align-items: center;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}
